<!Doctype html>
<html>
   <head>
       <title>Contact Us</title>
       <link rel="stylesheet" href="static/contact.css">
   </head>
   <body>
    <header>
        <nav id="navigation-bar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contacts">Contact Us</a></li>
                <li><a href="#"></a></li>
            </ul>
        </nav>
    </header>


   <div class="bg">
   <h2>Our Team Members</h2>
   <div class="row">
       <div class="column">
           <div class="card">
         
           <div class="container">
               <h2>V.Supraja</h2>
               <p>o180193@rguktong.ac.in</p>
               <p><a href = "mailto: o180193@rguktong.ac.in"><button class="button">Contact</button></a></p>
           </div>
           </div>
       </div>
       <div class="column">
           <div class="card">
           <div class="container">
               <h2>K.Srivani</h2>
               <p>o180171@rguktong.ac.in</p>
               <p><a href = "mailto: o180171@rguktong.ac.in"><button class="button">Contact</button></a></p>
           </div>
           </div>
       </div>
        <div class="column">
           <div class="card">
           <div class="container">
               <h2>B.swathi</h2>
               <p>o180211@rguktong.ac.in</p>
               <p><a href = "mailto: o180211@rguktong.ac.in"><button class="button">Contact</button></a></p>
           </div>
           </div>
       </div>
       <div class="column">
           <div class="card">
           <div class="container">
               <h2>P.Vengal Rao</h2>
               <p>o180184@rguktong.ac.in</p>
               <p><a href = "mailto: o180184@rguktong.ac.in"><button class="button">Contact</button></a></p>
           </div>
           </div>
       </div>
      
  
   </div>
  
   </div> 
</body>
</html>
