<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Transformation</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <nav id="navigation-bar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="#"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="pencil-art-section">
        <div class= card>
            <h2>Pencil Art Image</h2>
            <p>Converting the image into pencil art</p>
            <button><a href ="/designPage">Click</a></button>
            <div id="pencil-art-image">
                <!-- Placeholder for pencil art image -->
            </div>
            </div>
        </section>
        <section id="color-customize-section">
        <div class= card>
            <h2>Color Customization</h2>
            <p>Customize with Color!</p>
             <button><a href ="/paint">Click</a></button>
            <div id="color-customization">
                <!-- Placeholder for color customization -->
            </div>
         </div>
        </section>
    </main>
    <footer>
        <p>&copy; Our Website</p>
    </footer>
</body>
</html>

